<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nouquick</title>


  <link href="/fonts/css/all.css" rel="stylesheet">
  <link href="/style/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/style/form.css" >
  <link rel="manifest" href="/manifest.json">
  <script src="/index.js"></script>
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <div class="container">
    <nav class="nav-extended">
      <div class="nav-wrapper">
          <a href="/admin" class="title">nouquick</a>
          <a href="/" class="nav-link"><i class="fas fa-location-arrow"></i></a>      
      </div>
      <div class="nav-content">
          <a href="/admin#students" class="return-tab"><i class="fas fa-book"></i></a>
      </div>
   </nav>
   <main>
     <section class="profile-block active">
          <article class="single-profile">
            <div>
              <span>Name:</span>
              <span><%=profile.firstName%></span>
              <span><%=profile.lastName%></span>
            </div>
              <div>
                <span>Matriculation Number:</span>
                <span><%=profile.matric%></span>
              </div>
              <div>
                <span>Programme:</span>
                <span><%=profile.programme%></span>
              </div>
              <div>
                  <span>Department:</span>
                  <span><%=profile.department%></span>
              </div>
              <div>
                <table>
                  <thead>
                    <td>Semester</td>
                    <td>Code</td>
                    <td>Title</td>
                    <td>Unit</td>
                  </thead>
                  <%profile.courses.forEach(function(chosenCourse){%>
                    <%for(let i = 0; i < courses.length; i++){ %>
                      <%if(chosenCourse == courses[i].title){%>
                        <tr>
                          <td><%=courses[i].semester%></td>
                          <td><%=courses[i].code%></td>
                          <td><%=courses[i].title%></td>
                          <td><%=courses[i].units%></td>
                        </tr>
                      <%}%>
                    <%}%>
                  <%})%>
                </table>
              </div>
                
          </article>
       <div id="buttons">        
         <a href="/admin/students/<%=profile._id%>/edit">EDIT</a>
         <form action="/admin/students/<%=profile._id%>?_method=DELETE" 
          onsubmit="return confirm('Do you want to delete this result?');"
          method="POST">
            <button>DELETE</button>
         </form>
       </div> 
     </section>
     
   </main>
  </div>

</body>
</html>